#mainContainer {
	margin:auto;
    position:absolute;
    top: 20%;
    left: 50%;
    width: 600px;
    margin-left: -150px;

    #resultPanel {
    	width: 600px;
    	margin-top: 10px;
    	margin-left: -150px;
    }
}